/* Set nav to sticky or fixed */

/* Add a black background color to the top navigation */
.topnav {
  
  overflow: hidden;
 
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #0a0a0a;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 17px;
  border-style:ridge;
  border-style: solid;
  border-color:rgb(213, 214, 217);
  margin: 0.2px;
  background-color:rgba(196, 206, 212, 0.857);
  font-size: larger;
  font-family:helvetica,Aerial;
  
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3f6af6e7;
  color: rgb(237, 235, 235);
  border:solid;
  border-color: rgb(214, 217, 221);
}
/* Change the color of links on hover */
.topnav a:hover {
  
  
  border-color:rgb(219, 231, 242);
  border:solid;

}


