/* Set nav to sticky or fixed */

/* Add a black background color to the top navigation */
.topnav {
  
  overflow: hidden;
 
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #0a0a0a;
  text-align: center;
  padding: 9px 9px;
  text-decoration: none;
  font-size: 17px;
  border-style:ridge;
  border-style: solid;
  border-color:rgb(213, 214, 217);
  margin: 0.5px;
  background-color:rgba(240, 246, 253, 0.857);
  font-size: larger;
  
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3f6af6e7;
  color: rgb(248, 243, 243);
  border:solid;
  border-color: aliceblue;
}
/* Change the color of links on hover */
.topnav a:hover {
  
  
  border-color:aliceblue;
  border:solid;

}


