/* #E5E1E1
   #1B33AC
   #9DA0AF
   #607AFB
   #0929CE
monochromatic */

header {
  background-color: #1B33AC;
  border: black;
  margin: auto;
  padding: 2px;
}

img {
  border: thin rgb(245, 244, 244) solid;
}

nav {
  color: rgb(253, 251, 251);

}

h1.heading {
  color: #E5E1E1;
  font-family: helvetica;
  font-weight: bolder;
  text-transform: uppercase;
  border: #091534;
  text-align: center;
  padding-right: 15px;

}

.centerText {
  text-align: center;
}

h2,
h3 {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}


a:link {
  color: white;
}

/* unvisited link */
a:visited {
  color: white;
}

/* visited link */
a:hover {
  color: rgb(147, 157, 199);
}

/* mouse over link */
a:active {
  color: rgb(106, 116, 161);
}

/* selected link */

footer a:link {
  color: #0d0d0e;
}

/* unvisited link */
footer a:visited {
  color: #0c0c0c;
}

/* visited link */
footer a:hover {
  color: #1B33AC;
}

/* mouse over link */
footer a:active {
  color: rgb(13, 13, 13);
}

/* selected link */

section a:link {
  color: rgb(96, 113, 156);
}

section.contactus {
  margin-left: 15%;
  text-align: center;
}

section a:visited {
  color: rgb(106, 116, 161);
}

section a:hover {
  color: #9DA0AF;
}

section a:active {
  color: rgb(106, 116, 161);
}

p.contactp {
  text-align: center;
}

p figcaption {
  color: black;
  font-family: sans-serif, verdana;
  font-weight: normal;
}

body {
  background-color: #E5E1E1;
}

main {
  background-color: #E5E1E1;
}

section {
  background-color: #E5E1E1;
}

form {

  margin-left: 30px;
}

fieldset {
  text-align: center;
  width: 85%;
  background-color: #c6c6ca;
  margin: auto;
}

td {
  text-align: center;
}



table caption {
  font-family: helvetica;
  font-weight: bolder;
  text-transform: uppercase;
  text-align: center;
}


tbody tr:hover {
  color: white;
  background-color: #0d0d0e;
}

th {
  background-color: rgb(84, 136, 250);
  font: bold;
  color: rgb(8, 8, 8);

}



tr,
td {
  border-bottom: 5px;
}

thead,
table {
  border: 8px groove #8dacc0;
  margin:auto;
}

footer {
  background-color: #9DA0AF;
}

