/* #E5E1E1
   #1B33AC
   #9DA0AF
   #607AFB
   #0929CE
monochromatic */

header{ 
background-color: #1B33AC;
border:black;
margin: auto;
padding: 10px;}

img {border: thin rgb(245, 244, 244) solid;}

nav{ color:black;}

h1.heading{color:#E5E1E1;
font-family: helvetica;
font-weight: bolder;
text-transform: uppercase;
border:#091534}
 
h2, h3 {
color:black;
font-family: Verdana, Geneva, Tahoma, sans-serif ;
font-weight: bold;}


a:link { color:#091534 ; } /* unvisited link */
a:visited { color:#070707 ; } /* visited link */
a:hover { color:#091534; } /* mouse over link */
a:active { color:rgb(185, 180, 180) ; }  /* selected link */

footer a:link { color:#111111 ; } /* unvisited link */
footer a:visited { color:#0c0c0c ; } /* visited link */
footer a:hover { color:#0f0f0f; } /* mouse over link */
footer a:active { color:rgb(13, 13, 13) ; }  /* selected link */

section a:link{color:rgb(96, 113, 156);}
section a:visited{color:rgb(106,116,161);}
section a:hover{color:#9DA0AF;}
section a:active{color:rgb(106, 116, 161);}

p figcaption {color:black;
font-family:  sans-serif,verdana; 
font-weight: normal;}

body{background-color: #E5E1E1;}

main{background-color: #E5E1E1;}

section {background-color:#E5E1E1;}

footer {background-color:  #9DA0AF;}




